*{
	margin:0;
	padding: 0;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	background-color: #EDEFE6;
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
}
form{
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input{
	width: 400px;
	height: 48px;
	line-height: 2;
	padding: 10px 0 10px 8px;
	border-radius: 8px;
	border:2px solid #593A3A;
	outline: none;
}
::placeholder{
   font-size: 18px;
   font-weight: 600;
}
input:focus{
   outline: none;
   border:2px solid #593A3A;
   font-size: 18px;
   font-weight: 600;
}
.btn-submit,.btn-clear{
	margin-top: 20px;
	padding: 12px 32px;
	border: 2px solid #436FAB;
	border-radius: 7px;
	cursor: pointer;
	transition: 0.2s ease-in;
	background-color: #436FAB;
	color: #FCFCFC;
	font-size: 18px;
}
.btn-clear{
	background-color: #D65050;
	border: 2px solid #D65050;
}
.btn-submit:hover{
	border: 2px solid #285587;
	background-color: #285587;
}
.btn-clear:hover{
	border: 2px solid #CA2929;
	background-color: #CA2929;

}
.container{
	margin-top: 40px;
	border-top: 2px solid #AAA5A5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	max-width: 1200px;

}
.card{
	
	border:2px solid #535050;
	margin:15px 20px 15px 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 18px 12px 15px;
	background-color: #B8E4DE;
	border-radius: 8px;
	width: 260px;
	box-shadow: 0 2px 5px #535050;
}

.body{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
   align-content: center;
  
   margin:12px auto 12px auto;
   width: 80%;
}
.temp{
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-weight: 200;
	display: flex;
	align-items: baseline;
	
}
.temp span{
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-weight: 200;
}
.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
    padding-left: 15px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 12px;
}
.title span{
	position: absolute;
	top:0;
	right: -33px;
	background-color: #FBAE4B;
	border-radius: 4px;
	margin-left: 7px;
	padding: 3px;
	font-size: 14px;
	font-weight: 300;
	color:  #FCFCFC;

}
.icon{
	border-radius: 50%;
	
}
img{
	height: 100%;
}
.description{
	margin: 15px auto 12px auto;
 padding-left: 15px;
 font-size: 18px;
 text-align: center;
width: 80%;
}
p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
word-wrap: break-word;
overflow-wrap:break-word;

}
